includes:
    - vendor/symplify/easy-coding-standard/config/symfony-checkers.neon

parameters:
    exclude_checkers:
        - PhpCsFixer\Fixer\Operator\UnaryOperatorSpacesFixer

checkers:
    - PHP_CodeSniffer\Standards\Generic\Sniffs\Formatting\SpaceAfterNotSniff
    - PhpCsFixer\Fixer\Phpdoc\PhpdocAddMissingParamAnnotationFixer
    PhpCsFixer\Fixer\Comment\HeaderCommentFixer:
        header: '''
            This file is part of bhittani/repository.

            (c) Kamal Khan <shout@bhittani.com>

            This source file is subject to the MIT license that
            is bundled with this source code in the file LICENSE.
        '''
